#Sensitive data
.env
dist/.env

#Node modules
node_modules

#Compiled folder
dist

#Linter settings
eslintrc.json

#VS Code settings
.vscode

#Typescript declarations
declarations

#Downloaded Files
assets/gifs/*
assets/pages/*
assets/pagesCompressed/*
assets/images/*
assets/detection/*
assets/pixiv/illusts/*
assets/pixiv/profiles/*
assets/ugoira/*